gh-balance-sheet-tabs {
    .tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        overflow-x: auto;

        .tab {
            border: 1px solid gray;
            border-right: none;
            font-weight: 700;
            font-size: 12px;
            padding: 7px 20px;
            cursor: pointer;
            position: relative;
            white-space: nowrap;

            .close-tab {
                position: absolute;
                right: 3px;
                top: 50%;
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
                justify-content: center;
                align-items: center;
                display: none;

                &:hover {
                    svg {
                        path {
                            fill: red;
                        }
                    }
                }
            }

            &:hover {
                .close-tab {
                    display: flex;
                }
            }

            &.active {
                color: limegreen;
            }

            &:nth-last-child(1) {
                border-right: 1px solid gray;
            }
        }
    }
}